@media screen and (max-width: 2000px) {
    .main{
        background-size: 220rem;
    }
}
@media screen and (max-width: 1400px) {
    .big-yellow-circle{
        right: -55rem;
    }
    .header{
        background-size: 180rem;
        background-position: -10rem -35rem;
    }
}
/* 

    ----

*/
@media screen and (max-width: 1200px) {
    .big-yellow-circle{
        right: -60rem;
        width: 90rem;
        height: 90rem;
    }
    .header{
        background-size: 150rem;
        background-position: -10rem -22rem;
    }

}
/* 

    ----

*/
@media screen and (max-width: 992px) {
    .big-yellow-circle{
        top: 165rem;
        right: -40rem;
        width: 70rem;
        height: 70rem;
    }
    .small-yellow-circle{
        top: 250rem;
    }
    .column-lg-reverse{
        flex-direction: column-reverse;
    }
    .display-none{
        display: none;
    }
    .header{
        background-position: -10rem -22rem;
        height: 61rem;
    }
    .header-content,
    .works-section,
    .services,
    .comments
    {
        padding-top: 10rem;
    }
    .main{
        background-position: center -10rem;
    }
    .services__content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .service__wrapper{
        margin: 2rem auto 0 auto;
    }
    .swiper {
        overflow: hidden !important;
    }
    .next-slide-btn{
        left: -2rem;
    }
    .prev-slide-btn{
        right: -2rem;
    }
    .service__wrapper{
        width: auto;
    }
    .service{
        padding: 6rem 2rem 5rem 2rem;
    }
    .works__wrapper{
        margin: 0 auto;
    }
}
/* 

    ----

*/
@media screen and (max-width: 768px) {
    .big-yellow-circle{
        top: 175rem;
        right: -25rem;
        width: 50rem;
        height: 50rem;
    }
    .small-yellow-circle{
        top: 270rem;
        width: 25rem;
        height: 25rem;
        left: -15rem;
    }
    .navbar{
        display: none;
    }
    .menu-btn{
        display: flex;
    }
    .header{
        background-size: 170rem;
        background-position: -6rem -33rem;
        height: 61rem;
    }
    .header-description{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .next-slide-btn,
    .prev-slide-btn{
        display: none;
    }
    .comment{
        width: auto;
        margin: 1rem;
    }
    .swiper-pagination{
        display: block;
    }
}
/* 

    ----

*/
@media screen and (max-width: 576px) {
    .big-yellow-circle{
        top: 220rem;
    }
    .small-yellow-circle{
        top: 325rem;
    }
    .section__title{
        font-size: 3.5rem;
    }
    .works__wrapper{
        width: auto;
        gap: 2rem;
    }
}
/* 

    ----

*/
@media screen and (max-width: 470px) {
    .big-yellow-circle{
        display: none;
    }
    .small-yellow-circle{
        display: none;
    }
    .header{
        background-position: -6rem -28rem;
        height: 66rem;
    }
    .header__title{
        font-size: 4rem;
    }
    .header-btn__wrapper{
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
    }
    .header__btn{
        width: 100%;
    }
    .services__form{
        width: 90%;
    }
    .work{
        width: 100%;
    }
    .works__wrapper{
        gap: 3rem;
        background-image: none;
    }
}







@media screen and (min-width: 768px) {
    .mobile-menu{
        display: none;
    }
}
