@media screen and (max-width: 2000px) {
    .blue-shape__wrapper{
        top: 8rem;
        left: -37rem;
        width: 140%;
    }
    .header-shape__wrapper{
        left: -10rem;
    }
}
@media screen and (max-width: 1800px) {
    .blue-shape__wrapper{
        left: -40rem;
        width: 150%;
    }
    .header-shape__wrapper{
        top: -35rem;
    }
}
@media screen and (max-width: 1550px) {
    .header-shape__wrapper{
        top: -33rem;
    }
}
@media screen and (max-width: 1400px) {
    .big-yellow-circle{
        right: -55rem;
    }
    .header{
        background-size: 180rem;
        background-position: -10rem -35rem;
    }
    .blue-shape__wrapper{
        left: -35rem;
    }
    .header-shape__wrapper{
        width: 185rem;
        left: -17rem;
    }
}
/* 

    ----

*/
@media screen and (max-width: 1200px) {
    .big-yellow-circle{
        right: -60rem;
        width: 90rem;
        height: 90rem;
    }
    .header{
        background-size: 150rem;
        background-position: -10rem -22rem;
    }
    .blue-shape__wrapper{
        left: -28rem;
    }
    .header-shape__wrapper{
        width: 176rem;
        left: -22rem;
        top: -32rem;
    }

}
/* 

    ----

*/
@media screen and (max-width: 1100px) {
    .header-shape__wrapper{
        left: -26rem;
        top: -32rem;
    }
}
/* 

    ----

*/
@media screen and (max-width: 992px) {
    .big-yellow-circle{
        top: 165rem;
        right: -40rem;
        width: 70rem;
        height: 70rem;
    }
    .small-yellow-circle{
        top: 250rem;
    }
    .column-lg-reverse{
        flex-direction: column-reverse;
    }
    .display-none{
        display: none;
    }
    .header{
        background-position: -10rem -22rem;
        height: 61rem;
    }
    .header-content,
    .works-section,
    .services,
    .comments
    {
        padding-top: 10rem;
    }
    .services__content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .service__wrapper{
        margin: 2rem auto 0 auto;
    }
    .swiper {
        overflow: hidden !important;
    }
    .next-slide-btn{
        left: -2rem;
    }
    .prev-slide-btn{
        right: -2rem;
    }
    .service__wrapper{
        width: auto;
    }
    .service{
        padding: 6rem 2rem 5rem 2rem;
    }
    .works__wrapper{
        margin: 0 auto;
    }
    .event-section{
        flex-direction: column;
        padding: 5rem 3rem 3rem 3rem;
    }
    .event__image-box{
        width: 100%;
    }
    .event__content{
        width: 100%;
        height: 32rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 3rem 0 0 0;
    }
    .event__btn{
        left: 0;right: 0;
        margin: auto;
        width: 100%;
        height: 6rem;
        border-radius: 1.5rem;
    }
    .footer .services__form{
        width: 30rem;
    }
    .blue-shape__wrapper{
        left: -22rem;
    }
    .header-shape__wrapper{
        width: 175rem;
        left: -10rem;
        top: -38rem;
    }
}
/* 

    ----

*/
/* 

    ----

*/
@media screen and (max-width: 768px) {
    .big-yellow-circle{
        top: 175rem;
        right: -25rem;
        width: 50rem;
        height: 50rem;
    }
    .small-yellow-circle{
        top: 270rem;
        width: 25rem;
        height: 25rem;
        left: -15rem;
    }
    .navbar{
        display: none;
    }
    .menu-btn{
        display: flex;
    }
    .mobile-menu{
        display: flex;
    }
    .header{
        background-size: 170rem;
        background-position: -6rem -33rem;
        height: 61rem;
    }
    .header-description{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .next-slide-btn,
    .prev-slide-btn{
        display: none;
    }
    .comment{
        width: auto;
        margin: 1rem;
    }
    .swiper-pagination{
        display: block;
    }
    .event__content{
        height: 35rem;
    }
    .logos__wrapper{
        height: 6rem;
    }
    .logo__box{
    }
    .blue-shape__wrapper{
        left: -18rem;
    }
    .header-shape__wrapper{
        width: 177rem;
        top: -37rem;
    }
}
/* 

    ----

*/
@media screen and (max-width: 640px){

}
/* 

    ----

*/
@media screen and (max-width: 576px) {
    .big-yellow-circle{
        top: 220rem;
    }
    .small-yellow-circle{
        top: 325rem;
    }
    .section__title{
        font-size: 3.5rem;
    }
    .works__wrapper{
        width: auto;
        gap: 2rem;
    }
    .event__content{
        height: auto;
        padding-bottom: 10rem;
    }
    .logos__wrapper{
        height: 4.5rem;
        flex-wrap: wrap;
    }
    .footer{
        text-align: center;
    }
    .services__form{
        margin: 1rem auto 0 auto;
    }
    .social-media-wrapper{
        justify-content: center;
    }
    .blue-shape__wrapper{
        display: none;
    }
}
/* 

    ----

*/
@media screen and (max-width: 470px) {
    .big-yellow-circle{
        display: none;
    }
    .small-yellow-circle{
        display: none;
    }
    .header{
        background-position: -6rem -28rem;
        height: 66rem;
    }
    .header__title{
        font-size: 4rem;
    }
    .header-btn__wrapper{
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
    }
    .header__btn{
        width: 100%;
    }
    .services__form{
        width: 90%;
    }
    .work{
        width: 100%;
    }
    .works__wrapper{
        gap: 3rem;
        background-image: none;
    }
    .services__form{
        width: auto !important;
    }
}







@media screen and (min-width: 2350px) {
    .header-shape__wrapper,
    .blue-shape__wrapper{
        display: none;
    }
    .header{
        background-color: var(--first-color);
    }
}
